
:root {
  --black: #0B0C10;
  --darkGrey: #1F2833;
  --lightGrey: #C5C6C7;
  --lightBlue: #66FCF1;
  --greyBlue: #45A29E;
  
}

.container {
  height: 100%;
  width: 100%;
  display: block;
  left: 0px;
  top: 0px;
  position: absolute;
}

.pageContainer {
  position: fixed;
  width: 100%;
  right: 0px;
  top: -3.5%;
  bottom: 0px;
  left: 0%;
  background-color: white;
  height: 100%;
  color: black;
  display: block;
  padding: 0%;
  overflow: scroll;
}

.currentPage {
  position: relative;
  top: 13.5%;
}

.topBar {
  display: flex;
  position: fixed;
  background-color: var(--black);
  height: 10%;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 150;
}

#username {
  position: relative;
  color: var(--lightBlue);
  margin-right: 25px;
  margin-top: 20px;
}

.title {
  color: var(--lightBlue);
  text-align: justify;
  font-family: 'DejaVU Sans Mono';
  font-size: 37px;
  font-weight: 200;
  padding: 0%;
  width: 80%;
  
}

.shriimpeTitle{
  color: var(--lightBlue);
  margin-right: 20px;
}

.crossContainer {
  height: 10%;
  width: 20%;
  padding: 8px;
  margin: 0;
  position: relative;
}

.logButton {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 7%;
  height: 70%;
  position: relative;
  margin-right: 1%;
  background-color: var(--black);
  color: var(--lightBlue);
  font-size: 12px;
  border: 2px solid var(--black);
  transition-duration: 0.4s;
}

.logButton:hover {
  background-color: white;
  color: var(--black);
  border: 2px solid var(--black);
}


.favPlacehold {
  text-align: center;
}


/* Nav Icon */

svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
cursor:pointer;
}

svg path {
  fill: none;
  stroke: var(--lightBlue);
  stroke-width: 1px;
}

#top,
#bottom {
  stroke-dasharray: 30, 75.39;
  transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
}

svg.active #top,
svg.active #bottom {
  stroke-dasharray: 75.39;
  stroke-dashoffset: -60;
}

.statImg {
  width: 25%;
  left: 200px;
  margin-left: 20%;
  margin-top: 10%;
}