/* Bar de recherche */

:recherche{
  
    --resultWidth : 50rem
  }
  
  .research {
    position: relative;
    width: 50%;
    left: 25%;
    outline: none;
    resize: none;
    padding-bottom: 2em;
    padding-top: 1em;
  }
  
  #input-label {
    display: none;
  }
  
  .input-wrap {
    position: absolute;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 1rem;
    margin: 5px;
    border-radius: 0.9rem;
    background: var(--lightGrey);
    border: 1px solid var(--greyBlue);
    box-sizing: border-box;
    z-index: 100;
  }
  
  .input-wrap i {
    font-size: 1.5rem;
    color: white;
  }
  
  #product-search {
    position: relative;
    font-size: 1.4rem;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0 0 0 1rem;
    background: var(--lightGrey);
    color: var(--greyBlue);
    border: none;
    outline: none;
  }
  
  #product-search::placeholder {
    color: white;
    opacity: 0.7;
  }
  
  .fa-times:hover {
    cursor: pointer;
  }
  
  .results-wrap {
    position: relative;
    top: 3rem;
    width: var(--resultWidth);
    height: 100px;
    margin-top: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    overflow: scroll;
  }
  
  .list-item {
    top: 0rem;
    height: 1.5rem;
    width: var(--resultWidth);
    position: relative;
    display: flex;
    word-wrap: initial;
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: capitalize;
    margin-right: 0.5rem;
    overflow: hidden;
  }
  
  .list-item a {
    text-decoration: none;
    color: var(--greyBlue);
    background-color: white;
    border: 1px solid var(--darkGrey);
    width: 50rem; 
    height: 1.5rem;
  }
  
  .list-item a:hover {
    color: var(--lightBlue);
    background-color: var(--darkGrey);
    transition: 200ms ease-in;
  }
  
  .resultSearch {
    position: relative;
    width: 60%;
    left: 20%;
    top: 100px;
  }
  
  .hide {
    display: none;
  }
  
  @media screen and (min-width: 576px) and (max-width: 768px) {
    .input-wrap {
      width: 96%;
    }

    .results-wrap {
      width: 96%;
    }
  
    #product-search {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 576px) {
    .input-wrap {
      width: 96%;
    }
  
    .results-wrap {
      width: 96%;
    }
  
    #product-search {
      font-size: 0.5rem;
    }
  }
  