    .navBarHidden {
    transition-duration: 0.3s;
    width: 0px;
}

.navBarHidden .NavBarButton {
    display: none;
    transition-duration: 0.3s;
}

.linksContainer {
    height: 90%;
    position: relative;
}

.NavBarButton:hover {
    background-color: white;
    color: var(--black);
    border: 2px solid var(--black);
}

@media screen and (min-width: 768px) {
    .NavBar {
        top: 10%;
        height: 100%;
        bottom: 0px;
        width: 15%;
        display: block;
        left: 0px;
        bottom: 0px;
        overflow: hidden;
        position: fixed;
        transition-duration: 0.3s;
        z-index: 100;
    }

    .NavBar .NavBarButton {
        height: 25%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: var(--black);
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        color: var(--lightBlue);
        position: relative;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .NavBar {
        top: 10%;
        height: 100%;
        bottom: 0px;
        width: 50%;
        display: block;
        left: 0px;
        bottom: 0px;
        overflow: hidden;
        position: fixed;
        transition-duration: 0.3s;
        z-index: 100;
    }

    .NavBar .NavBarButton {
        height: 25%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: var(--black);
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        color: var(--lightBlue);
        position: relative;
    }
}

@media screen and (max-width: 576px) {
    .NavBar {
        top: 10%;
        height: 100%;
        bottom: 0px;
        width: 80%;
        display: block;
        left: 0px;
        bottom: 0px;
        overflow: hidden;
        position: fixed;
        transition-duration: 0.3s;
        z-index: 100;
    }

    .NavBar .NavBarButton {
        height: 25%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: var(--black);
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        color: var(--lightBlue);
        position: relative;
    }
}